.env
.account
.vscode
vendor
nohup.out
cabocil-api
cabocil-api.error.log
cabocil-api.log
.cache

file_bucket/*
!file_bucket/index.html
!file_bucket/books
!file_bucket/cache
file_bucket/books/*
!file_bucket/books/index.html
file_bucket/cache/*
!file_bucket/cache/index.html
